[submodule "gpt-j-submodule"]
	path = gpt-j-submodule
	url = git@github.com:SakuraKat/gpt-j-submodule.git
[submodule "discord-bot-submodule"]
	path = discord-bot-submodule
	url = git@github.com:SakuraKat/discord-bot-submodule.git
[submodule "data-manager-submodule"]
	path = data-manager-submodule
	url = git@github.com:SakuraKat/data-manager-submodule.git
