[submodule "gpt-j-submodule"]
	path = gpt-j-submodule
	url = .\\gpt-j-submodule\\
[submodule "discord-bot-submodule"]
	path = discord-bot-submodule
	url = .\\discord-bot-submodule\\
[submodule "data-manager-submodule"]
	path = data-manager-submodule
	url = .\\data-manager-submodule\\
